name: Push

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_PATH: ~/.cache/ms-playwright
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Cache Playwright Browsers
        uses: actions/cache@v4
        id: cache-playwright
        with:
          path: ${{ env.PLAYWRIGHT_PATH }}
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install playwright browsers
        if: steps.cache-playwright.outputs.cache-hit != 'true'
        run: yarn playwright install --with-deps chromium
      - name: npm install, build, and lint
        run: |
          yarn
          yarn build
          yarn lint
          yarn test
